<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> edit page</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
    <h1>You are editting product: <%= product.name %></h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="post" style="display: flex; flex-direction: column; gap: 5px;">
        <label for="nameInput">Name:</label>
        <input type="text" name="name" id="nameInput" value="<%= product.name %>">
        <label for="priceInput">Price:</label>
        <input type="number" name="price" id="priceInput" value="<%= product.price %>">
        <label for="categoryInput">Category:</label>
        <select name="category" id="categoryInput">
            <option value="dairy" <%= product.category === 'dairy' ? 'selected' : '' %>>Dairy</option>
            <option value="vegetable" <%= product.category === 'vegetable' ? 'selected' : '' %>>Vegetable</option>
            <option value="fruit" <%= product.category === 'fruit' ? 'selected' : '' %>>Fruit</option>
        </select>
        <button type="submit">POST</button>
    </form>
</body>
</html>